---
export interface Props {
  name: string;
  email: string;
  phone: string;
  location: string;
  linkedin?: string;
  github?: string;
}

const { name, email, phone, location, linkedin, github } = Astro.props;
---

<div class="header">
  <div class="name">{name}</div>
  <div class="contact-info">
      <span>{email}</span>
      {linkedin && <span>linkedin.com/in/ben-krocke</span>}
      {github && <span>github.com/benkrocke</span>}
  </div>
</div>